---
interface Props {
  href: string;
  label: string;
  bgColor: string;
  textColor: string;
}

const { href, label, bgColor, textColor } = Astro.props as Props;
---

<a
  href={href}
  rel="noopener"
  aria-label={`Botón de ${label}`}
  class={`px-8 py-3 md:px-16 md:py-4 bg-${bgColor} text-${textColor} rounded-xl text-xl md:text-2xl font-bold hover:scale-110 transition flex items-center justify-between gap-4 md:gap-6`}
>
  {label}
  <slot />
</a>
